MD_PATH GAVNO "MD_PATH.bat"
WORKGROUP GAVNO "WORKGROUP.bat"
COMPUTERNAME GAVNO "COMPUTERNAME.bat"
COMMENT GAVNO "COMMENT.bat"
IP_ADRESS_WIN_SEVEN GAVNO "IP_ADRESS_WIN_SEVEN.bat"
MASK_WIN_SEVEN GAVNO "MASK_WIN_SEVEN.bat"
GATEWAY_WIN_SEVEN GAVNO "GATEWAY_WIN_SEVEN.bat"
IP_ADRESS GAVNO "IP_ADRESS_WIN_XP.bat"
MASKS GAVNO "MASKS_WIN_XP.bat"
GATEWAYS GAVNO "GATEWAYS_WIN_XP.bat"